@import '../styles/constants.scss';

$background1: yellow;
$background2: orange;


.background {height: 100vh; width: 100vw; top: 0; z-index: 0; position: relative; 
  background-image: repeating-conic-gradient($background1 0 9deg, $background2 9deg 18deg);
  animation: animate-rotate 4s infinite ;
  overflow: hidden;
}

@include bp(md){
  .background {width: 50vw;}
}

@include bp(lg){
  .background {width: 60vw;}
}


@keyframes animate-rotate {
  @for $pos from 1 through 100 {
    $i: calc($pos / 100 * 18);

    #{$pos}% {background-image: repeating-conic-gradient($background1 #{$i}deg #{$i+9}deg, $background2 #{$i+9}deg #{$i+18}deg);}
  }
}
