.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_inner {
    border-radius: 2rem;
    position: fixed;
    padding: 1rem;
    width: 50vw;
    // height: 30vw;
    background-color: #fff;
}



.popup_inner .close {
    display: flex;
    justify-content: flex-end;

}

.popup_inner .close button {
    background-color: rgb(255, 0, 0);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.popup_inner .title {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }

.popup_inner .popupfooter {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float_container {
    border: 3px solid #fff;
    padding: 20px;
}

.float_child {
    width: 50%;
    float: right;
    padding: 10px;
    padding-right: 10px;
    border: 2px solid red;
}

.popup_inner .login_input {
    color: white;
}

.popup_inner .popupfooter button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;

}

.code_input {
    justify-content: left;

}
