@import '../styles/constants.scss';

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}



.popup_inner {
    border-radius: 2rem;
    position: fixed;
    padding: 1rem;
    min-width: 50vw;
    max-width: calc(100% - 2rem);
    // height: 30vw;
    background-color: #fff;
}



.popup_inner .close {
    display: flex;
    justify-content: flex-end;

}

.popup_inner .close button {
    background-color: rgb(255, 0, 0);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.popup_inner .title {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }

.popup_inner .popupfooter {
    flex: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@include bp(md) {
  .popup_inner .popupfooter {flex-direction: row; }
}

.float_container {padding: 1rem; }

.flexContainer {display: flex; flex-direction: column;
  > *:first-child {border-bottom: 2px solid brown; }
  > * {padding: .5rem; }
  button {display: block; margin: auto; }
}

@include bp(md) {
  .flexContainer {flex-direction: row;
    > *:first-child {border-right: 2px solid brown; border-bottom: none; }
    > * {width: 50%; }
  }

}


// .float_container {
//     border: 3px solid #fff;
//     padding: 20px;
// }
//
// .float_child {
//     width: 100%;
//     padding: 10px;
//     // border: 2px solid brown;
//     margin-bottom: .5rem;
// }
//
// .float-child:first-of-type {border-bottom: 2px solid brown; }
//
// @include bp(md) {
//   .float_child {
//       width: 50%;
//       float: right;
//       padding: 10px;
//
//   }
//   .float-child:first-of-type {border-right: 2px solid brown; }
// }

.popup_inner .login_input {
    color: white;
}

.popup_inner .popupfooter button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;

}

.inputRow {display: flex;
  input {flex-grow: 1; width: 10.5rem; }
}
