.goldenCookie {
    position: absolute;
    width: 10vw; //3
    height: 10vw;
    background-size: 100%;
    cursor: pointer;
}

.goldenCookieCountdownPanel {
    // TODO  : CHANGE IT TO BETTER :)
    width: -50%;
    height: 100%;
    right: 50%;
    border-color: crimson;
    border-style: solid;
    border-width: 0.5vw;

}