@import '../styles/constants.scss';

.container {width: 100vw; height: 100vh; background: #3d1601;
  border-left: .5rem solid #782c00;
  * {color: white; }
}

@include bp(md){
  .container {width: 50vw;}
}

@include bp(lg){
  .container {width: 40vw;}
}

.storeItem {padding: .5rem;
  border-bottom: 2px solid black; 
}
